<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- css -->
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />
<link rel="stylesheet" href="css/mercari.css" />
<!-- script -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<script th:src="@{/js/showChildCategoryList.js}"></script>
<script th:src="@{/js/showGrandChildCategoryList.js}"></script>
<title>Rakus Items</title>
</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/showitemlist}">Rakus Items</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="hasRole('ROLE_USER')"><a
						th:href="@{/login-user/logout}" id="logout">Logout&nbsp;<i
							class="fa fa-power-off"></i></a></li>
					<li sec:authorize="!isAuthenticated()"><a
						th:href="@{/login-user}" id="login">Login&nbsp; <i
							class="fa fa-power-on"></i></a></li>
				</ul>
				<p class="navbar-text navbar-right">
					<span id="loginName" sec:authorize="hasRole('ROLE_USER')">user:
						<span sec:authentication="principal.user.name">山田</span>
					</span> <span id="logoutName" sec:authorize="!isAuthenticated()"> <span>Guest</span></span>
				</p>
			</div>
		</div>
	</nav>
	<!-- details -->
	<div id="input-main" class="container">
		<form th:action="@{/showitemdetail}" method="get">
			<button type="submit" name=id class="btn btn-default"
				th:value="${id}">
				<i class="fa fa-reply"></i> back
			</button>
			<h2>Edit</h2>
		</form>

		<!-- edit form -->

		<form enctype="multipart/form-data" action="detail"
			th:action="@{/updateitem/update}" method="post"
			class="form-horizontal" th:object="${updateItemForm}">
			<input type="hidden" id="id" th:field="*{id}">
			<img id=itemImage th:src="@{/img/}+${updateItemForm.itemImageName}">
			<!-- Image -->
			<div class="form-group">
				<label for="itemImage" class="col-sm-2 control-label">item_image</label>
				<div class="col-sm-8">
					<input id=imageForm type="file" accept="image/jpeg, image/png"
						name="itemImage">
				</div>
			</div>
			<!-- name -->
			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="inputName"
						th:field="*{name}" />
				</div>
			</div>
			<!-- price -->
			<div class="form-group">
				<label for="price" class="col-sm-2 control-label">price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="price"
						th:field=*{price} />
				</div>
			</div>
			<!-- category -->
			<div class="form-group">
				<label for="category" class="col-sm-2 control-label">category</label>
				<div class="col-sm-8">
					<select class="form-control" id="parentCategory"  th:field="*{parentCategory}" >
						<option th:value=null>-- parentCategory --</option>
							<option th:each="Category: ${parentCategoryList}" th:text="${Category.categoryName}"
								th:value="${Category.id}">parentCategory1</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="category" class="col-sm-2 control-label"></label>
				<div class="col-sm-8">
					<select class="form-control" id="childCategory" th:field="*{childCategory}">
						<option th:value=null>-- childCategory --</option>
						<optgroup id="childAllCategory">
							<option th:text="${childCategory.categoryName}" value=""
								th:value="${childCategory.id}" id="childCategoryValue"
								class="blind"></option>
						</optgroup>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="category" class="col-sm-2 control-label"></label>
				<div class="col-sm-8">
					 <select class="form-control" name="category"
						id="grandChildCategory" th:field="*{grandChildCategory}">
						<option th:value=null>-- grandChild --</option>
						<option th:text="${grandChildCategory.categoryName}" value=""
							th:value="${grandChildCategory.id}" id="grandChildCategoryValue"></option>
						<optgroup id="grandChildAllCategory">
						</optgroup>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="category" class="col-sm-2 control-label"></label>
				<div class="col-sm-8"></div>
			</div>
			<!-- brand -->
			<div class="form-group">
				<label for="brand" class="col-sm-2 control-label">brand</label>
				<div class="col-sm-8">
					<input type="text" id="brand" class="form-control" name="brand"
						th:field="*{brand}" />
				</div>
			</div>
			<!-- condition -->
			<div class="form-group">
				<label for="condition" class="col-sm-2 control-label">condition</label>
				<div class="col-sm-8">
					<label for="condition1" class="radio-inline"> <input
						type="radio" name="condition" id="condition1" value="1"
						th:field="*{condition}" /> 1
					</label> <label for="condition2" class="radio-inline"> <input
						type="radio" name="condition" id="condition2" value="2"
						th:field="*{condition}" /> 2
					</label> <label for="condition3" class="radio-inline"> <input
						type="radio" name="condition" id="condition3" value="3"
						th:field="*{condition}" /> 3
					</label> <label for="condition4" class="radio-inline"> <input
						type="radio" name="condition" id="condition4" th:value=4 value=4
						th:field="*{condition}" /> 4
					</label> <label for="condition5" class="radio-inline"> <input
						type="radio" name="condition" id="condition5" th:value=5 value=5
						th:field="*{condition}" /> 5
					</label>
				</div>
			</div>
			<!-- description -->
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">description</label>
				<div class="col-sm-8">
					<textarea name="description" id="description" class="form-control"
						rows="5" th:field="*{description}"></textarea>
				</div>
			</div>
			<!-- submit button -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>